In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

## Loading data and preprocessing

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.drop('CustomerId', axis='columns', inplace=True)
data.drop('Surname', axis='columns', inplace=True)
data.drop('RowNumber', axis='columns', inplace=True)

In [6]:
data.drop('Geography', axis='columns', inplace=True)
data.dtypes

CreditScore          int64
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

### Scaling/encoding data

In [7]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
data['Gender'].replace({'Female':1, 'Male':0}, inplace=True)

In [10]:
data.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7500,694,0,47,4,0.00,2,1,0,197528.62,0
2539,584,1,46,6,87361.02,2,1,0,120376.87,1
1657,704,1,54,6,133656.91,3,1,0,145071.33,1
3164,665,1,38,5,0.00,2,1,0,156439.56,0
1741,747,1,25,4,0.00,2,0,1,42039.67,0

In [11]:
cols_to_scale = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

scaler = MinMaxScaler()
data[cols_to_scale] = scaler.fit_transform(data[cols_to_scale])

In [12]:
data.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4242,0.352,0,0.432432,0.5,0.495154,0.000000,0,1,0.797303,1
299,0.554,0,0.202703,0.5,0.000000,0.333333,1,1,0.518681,0
10,0.356,0,0.175676,0.6,0.406606,0.333333,0,0,0.400886,0
1763,0.734,0,0.270270,0.7,0.388441,0.000000,0,0,0.945911,0
5416,0.560,0,0.432432,0.8,0.000000,0.333333,0,1,0.396867,0

## Data split, building the ANN model

In [14]:
x = data.drop('Exited', axis='columns')
y = data['Exited']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=5)

In [19]:
model = keras.Sequential([
    keras.layers.Dense(26, input_shape=(9,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 559us/step - loss: 0.5237 - accuracy: 0.7793
Epoch 2/100
250/250 [==============================] - 0s 531us/step - loss: 0.4575 - accuracy: 0.8004
Epoch 3/100
250/250 [==============================] - 0s 543us/step - loss: 0.4278 - accuracy: 0.8161
Epoch 4/100
250/250 [==============================] - 0s 533us/step - loss: 0.4077 - accuracy: 0.8264
Epoch 5/100
250/250 [==============================] - 0s 529us/step - loss: 0.3945 - accuracy: 0.8351
Epoch 6/100
250/250 [==============================] - 0s 546us/step - loss: 0.3852 - accuracy: 0.8357
Epoch 7/100
250/250 [==============================] - 0s 549us/step - loss: 0.3784 - accuracy: 0.8443
Epoch 8/100
250/250 [==============================] - 0s 558us/step - loss: 0.3746 - accuracy: 0.8439
Epoch 9/100
250/250 [==============================] - 0s 562us/step - loss: 0.3704 - accuracy: 0.8446
Epoch 10/100
250/250 [==============================] - 0s 556us/step - loss: 0.3680 - accuracy: 0.8475
Epoch 11/100
250/250 [==============================] - 0s 534us/step - loss: 0.3661 - accuracy: 0.8486
Epoch 12/100
250/250 [==============================] - 0s 538us/step - loss: 0.3623 - accuracy: 0.8489
Epoch 13/100
250/250 [==============================] - 0s 546us/step - loss: 0.3620 - accuracy: 0.8501
Epoch 14/100
250/250 [==============================] - 0s 541us/step - loss: 0.3610 - accuracy: 0.8481
Epoch 15/100
250/250 [==============================] - 0s 542us/step - loss: 0.3585 - accuracy: 0.8486
Epoch 16/100
250/250 [==============================] - 0s 550us/step - loss: 0.3584 - accuracy: 0.8511
Epoch 17/100
250/250 [==============================] - 0s 536us/step - loss: 0.3584 - accuracy: 0.8510
Epoch 18/100
250/250 [==============================] - 0s 554us/step - loss: 0.3574 - accuracy: 0.8520
Epoch 19/100
250/250 [==============================] - 0s 545us/step - loss: 0.3557 - accuracy: 0.8524
Epoch 20/100
250/250 [==============================] - 0s 596us/step - loss: 0.3547 - accuracy: 0.8525
Epoch 21/100
250/250 [==============================] - 0s 649us/step - loss: 0.3557 - accuracy: 0.8545
Epoch 22/100
250/250 [==============================] - 0s 556us/step - loss: 0.3536 - accuracy: 0.8536
Epoch 23/100
250/250 [==============================] - 0s 577us/step - loss: 0.3530 - accuracy: 0.8546
Epoch 24/100
250/250 [==============================] - 0s 585us/step - loss: 0.3530 - accuracy: 0.8535
Epoch 25/100
250/250 [==============================] - 0s 561us/step - loss: 0.3519 - accuracy: 0.8554
Epoch 26/100
250/250 [==============================] - 0s 589us/step - loss: 0.3519 - accuracy: 0.8535
Epoch 27/100
250/250 [==============================] - 0s 562us/step - loss: 0.3504 - accuracy: 0.8556
Epoch 28/100
250/250 [==============================] - 0s 549us/step - loss: 0.3511 - accuracy: 0.8555
Epoch 29/100
250/250 [==============================] - 0s 534us/step - loss: 0.3497 - accuracy: 0.8571
Epoch 30/100
250/250 [==============================] - 0s 564us/step - loss: 0.3506 - accuracy: 0.8571
Epoch 31/100
250/250 [==============================] - 0s 560us/step - loss: 0.3495 - accuracy: 0.8558
Epoch 32/100
250/250 [==============================] - 0s 544us/step - loss: 0.3497 - accuracy: 0.8556
Epoch 33/100
250/250 [==============================] - 0s 562us/step - loss: 0.3487 - accuracy: 0.8559
Epoch 34/100
250/250 [==============================] - 0s 550us/step - loss: 0.3478 - accuracy: 0.8559
Epoch 35/100
250/250 [==============================] - 0s 559us/step - loss: 0.3473 - accuracy: 0.8574
Epoch 36/100
250/250 [==============================] - 0s 548us/step - loss: 0.3472 - accuracy: 0.8579
Epoch 37/100
250/250 [==============================] - 0s 565us/step - loss: 0.3469 - accuracy: 0.8580
Epoch 38/100
250/250 [==============================] - 0s 542us/step - loss: 0.3474 - accuracy: 0.8589
Epoch 39/100
250/250 [==============================] - 0s 569us/step - loss: 0.3469 - accuracy: 0.8581
Epoch 40/100
250/250 [==============================] - 0s 554us/step - loss: 0.3465 - accuracy: 0.8572
Epoch 41/100
250/250 [==============================] - 0s 561us/step - loss: 0.3457 - accuracy: 0.8574
Epoch 42/100
250/250 [==============================] - 0s 556us/step - loss: 0.3457 - accuracy: 0.8583
Epoch 43/100
250/250 [==============================] - 0s 530us/step - loss: 0.3461 - accuracy: 0.8586
Epoch 44/100
250/250 [==============================] - 0s 538us/step - loss: 0.3463 - accuracy: 0.8566
Epoch 45/100
250/250 [==============================] - 0s 549us/step - loss: 0.3447 - accuracy: 0.8590
Epoch 46/100
250/250 [==============================] - 0s 538us/step - loss: 0.3446 - accuracy: 0.8594
Epoch 47/100
250/250 [==============================] - 0s 534us/step - loss: 0.3454 - accuracy: 0.8579
Epoch 48/100
250/250 [==============================] - 0s 535us/step - loss: 0.3446 - accuracy: 0.8572
Epoch 49/100
250/250 [==============================] - 0s 540us/step - loss: 0.3437 - accuracy: 0.8590
Epoch 50/100
250/250 [==============================] - 0s 540us/step - loss: 0.3446 - accuracy: 0.8585
Epoch 51/100
250/250 [==============================] - 0s 546us/step - loss: 0.3445 - accuracy: 0.8560
Epoch 52/100
250/250 [==============================] - 0s 547us/step - loss: 0.3444 - accuracy: 0.8594
Epoch 53/100
250/250 [==============================] - 0s 534us/step - loss: 0.3444 - accuracy: 0.8593
Epoch 54/100
250/250 [==============================] - 0s 539us/step - loss: 0.3435 - accuracy: 0.8618
Epoch 55/100
250/250 [==============================] - 0s 572us/step - loss: 0.3442 - accuracy: 0.8594
Epoch 56/100
250/250 [==============================] - 0s 544us/step - loss: 0.3422 - accuracy: 0.8596
Epoch 57/100
250/250 [==============================] - 0s 541us/step - loss: 0.3428 - accuracy: 0.8601
Epoch 58/100
250/250 [==============================] - 0s 540us/step - loss: 0.3420 - accuracy: 0.8583
Epoch 59/100
250/250 [==============================] - 0s 541us/step - loss: 0.3426 - accuracy: 0.8584
Epoch 60/100
250/250 [==============================] - 0s 541us/step - loss: 0.3425 - accuracy: 0.8611
Epoch 61/100
250/250 [==============================] - 0s 532us/step - loss: 0.3418 - accuracy: 0.8590
Epoch 62/100
250/250 [==============================] - 0s 537us/step - loss: 0.3437 - accuracy: 0.8569
Epoch 63/100
250/250 [==============================] - 0s 543us/step - loss: 0.3413 - accuracy: 0.8616
Epoch 64/100
250/250 [==============================] - 0s 553us/step - loss: 0.3420 - accuracy: 0.8586
Epoch 65/100
250/250 [==============================] - 0s 544us/step - loss: 0.3412 - accuracy: 0.8599
Epoch 66/100
250/250 [==============================] - 0s 555us/step - loss: 0.3412 - accuracy: 0.8590
Epoch 67/100
250/250 [==============================] - 0s 544us/step - loss: 0.3405 - accuracy: 0.8605
Epoch 68/100
250/250 [==============================] - 0s 546us/step - loss: 0.3406 - accuracy: 0.8600
Epoch 69/100
250/250 [==============================] - 0s 551us/step - loss: 0.3409 - accuracy: 0.8608
Epoch 70/100
250/250 [==============================] - 0s 547us/step - loss: 0.3400 - accuracy: 0.8597
Epoch 71/100
250/250 [==============================] - 0s 543us/step - loss: 0.3406 - accuracy: 0.8599
Epoch 72/100
250/250 [==============================] - 0s 539us/step - loss: 0.3402 - accuracy: 0.8599
Epoch 73/100
250/250 [==============================] - 0s 549us/step - loss: 0.3402 - accuracy: 0.8612
Epoch 74/100
250/250 [==============================] - 0s 549us/step - loss: 0.3413 - accuracy: 0.8600
Epoch 75/100
250/250 [==============================] - 0s 541us/step - loss: 0.3398 - accuracy: 0.8608
Epoch 76/100
250/250 [==============================] - 0s 547us/step - loss: 0.3397 - accuracy: 0.8616
Epoch 77/100
250/250 [==============================] - 0s 548us/step - loss: 0.3392 - accuracy: 0.8596
Epoch 78/100
250/250 [==============================] - 0s 538us/step - loss: 0.3388 - accuracy: 0.8610
Epoch 79/100
250/250 [==============================] - 0s 539us/step - loss: 0.3387 - accuracy: 0.8599
Epoch 80/100
250/250 [==============================] - 0s 542us/step - loss: 0.3394 - accuracy: 0.8606
Epoch 81/100
250/250 [==============================] - 0s 555us/step - loss: 0.3391 - accuracy: 0.8614
Epoch 82/100
250/250 [==============================] - 0s 555us/step - loss: 0.3378 - accuracy: 0.8601
Epoch 83/100
250/250 [==============================] - 0s 554us/step - loss: 0.3379 - accuracy: 0.8610
Epoch 84/100
250/250 [==============================] - 0s 552us/step - loss: 0.3389 - accuracy: 0.8599
Epoch 85/100
250/250 [==============================] - 0s 561us/step - loss: 0.3379 - accuracy: 0.8599
Epoch 86/100
250/250 [==============================] - 0s 562us/step - loss: 0.3387 - accuracy: 0.8618
Epoch 87/100
250/250 [==============================] - 0s 554us/step - loss: 0.3381 - accuracy: 0.8593
Epoch 88/100
250/250 [==============================] - 0s 553us/step - loss: 0.3381 - accuracy: 0.8591
Epoch 89/100
250/250 [==============================] - 0s 550us/step - loss: 0.3381 - accuracy: 0.8611
Epoch 90/100
250/250 [==============================] - 0s 551us/step - loss: 0.3376 - accuracy: 0.8615
Epoch 91/100
250/250 [==============================] - 0s 547us/step - loss: 0.3376 - accuracy: 0.8602
Epoch 92/100
250/250 [==============================] - 0s 553us/step - loss: 0.3374 - accuracy: 0.8624
Epoch 93/100
250/250 [==============================] - 0s 550us/step - loss: 0.3364 - accuracy: 0.8619
Epoch 94/100
250/250 [==============================] - 0s 544us/step - loss: 0.3375 - accuracy: 0.8611
Epoch 95/100
250/250 [==============================] - 0s 546us/step - loss: 0.3380 - accuracy: 0.8605
Epoch 96/100
250/250 [==============================] - 0s 548us/step - loss: 0.3370 - accuracy: 0.8630
Epoch 97/100
250/250 [==============================] - 0s 550us/step - loss: 0.3377 - accuracy: 0.8597
Epoch 98/100
250/250 [==============================] - 0s 548us/step - loss: 0.3364 - accuracy: 0.8630
Epoch 99/100
250/250 [==============================] - 0s 560us/step - loss: 0.3361 - accuracy: 0.8627
Epoch 100/100
250/250 [==============================] - 0s 550us/step - loss: 0.3364 - accuracy: 0.8614

### Evaluation

In [20]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 0s 494us/step - loss: 0.3607 - accuracy: 0.8490

[0.36073097586631775, 0.8489999771118164]

In [21]:
yp = model.predict(x_test)
yp[:5]

63/63 [==============================] - 0s 416us/step

array([[0.02853545],
       [0.09327658],
       [0.11481673],
       [0.20153235],
       [0.10798828]], dtype=float32)

In [22]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

y_pred[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [23]:
y_test[:10]

7054    0
442     0
3954    0
2288    0
3196    0
6178    0
8351    0
5658    1
2065    0
413     1
Name: Exited, dtype: int64

In [24]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      1595
           1       0.69      0.45      0.55       405

    accuracy                           0.85      2000
   macro avg       0.78      0.70      0.73      2000
weighted avg       0.84      0.85      0.84      2000